.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;
    width: 100%;

    margin-block-end: 1rem;
    padding: 1rem;
    border-block-end: solid 1px lightgray;
}

.app-header div {
    display: flex;
    gap: 1rem;
}